div.friend a {
	display: inline-block;
	margin: 5px;
	padding: 10px;
	border: 1px solid white ; 
	border-radius: 5px;
	cursor: pointer; 
}
div.friend a:hover{
	text-decoration: underline ; 
}
nav img{
	width: 48px;
	height: 48px;
}


#mainContainer {
	width: 70%;
	border: 1px solid blue;
	min-height: 100vh;	
	border-radius: 5px;		
}
			
			.me , .friend{
			
			padding: 5px;
			border-radius: 10px;
			
			margin: 5px;
			
		}
		.me{
			max-width: 70%;
			width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  width: max-content;
			background-color: blue ;
			color: white ;
		}
		button{
			padding: 10px;
			border: 1px solid white;
			outline: none;
			background-color: transparent;
			color: white;
			border-radius: 5px;
			font-size: 17px;
				
		}
		button:hover{
			cursor: pointer;
			background-color: white;
			color: grey;
		}
		.friend{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: grey;
    color: white;
    width: max-content;
    max-width: 80%;
    margin-left: auto;
    white-space: break-spaces;		
		}
		.friend , .friend a ,  .friend a:link , .friend a:visited , .friend a:hover , .friend a:active
		{
			color: white;
			text-decoration: none;
		}
		.friend a:hover{
			text-decoration: underline;
		}
		
		
		#sendMessage{
		background-image:url('../images/send.svg');
		background-color:white ; 
		width:32px;
		height:32px;
		border:none; 
		outline: none;
		margin-left: 5px;
		}
		#sendMessage:hover{
		cursor: pointer;
		}
		#textMessage
		{
			width: 50%;
			padding: 5px;
			border-color: blue;
			border-style: solid;
			border-width: 1px;
			border-radius: 5px;
			font-size: 16px;
			outline: none;
			color: blue;
		}
		#sendDiv{
			margin-left: 10px;
			margin-top: 10px;
			 display: flex;
 
  			align-items: center;  
		}
		#conversation img {
			width: 48px;
			height: 48px;
		}
		#conversation{
			font-size: 19px;
		}
		
		
		
		
		
		
		
		